$primaryColor: #1582a3;
$secondaryColor: #e2b78d;
$thirdColor: #99b9aa;
$greenColor: #b8cfc7;
.primary-color{
  color: $primaryColor
}
.secondary-color{
  color: $secondaryColor
}
.third-color{
  color: $thirdColor
}
.green-color{
  color: $greenColor
}
.color-white{
  color: #fff;
}
.bg-primary{
  background-color: $primaryColor;
}
.bg-black{
  background-color: #343434;
}
.bg-gray{
  background-color: #fafafa;
}
button{
  background-color: transparent;
  border: none;
}
p{
  margin-bottom: 0;
}
.margin-bottom0{
  margin-bottom: 0;
}
.primary-margin-bottom{
  margin-bottom: 5vw;
}
.primary-padding-top{
  padding-top: 5vw;
}
.text-center{
  text-align: center;
}
.display-none{
  display: none;
}
.display-flex{
  display: flex;
  flex-wrap: wrap;
  &>div{
    margin-left: 0;
  }
}
.img-fluid{
  width: 100%;
}
.img-stretched{
  height: 100%;
  object-fit: cover;
}
.bg-white-with-shadow{
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  display: inline-block;
  max-width: 100%;
}
.form-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.flatpickr-months{
  .flatpickr-month{
    height: 64px;
  }
}
.main-menu-container{
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  align-items: center;
  .logo-container{
    display: flex;
    align-items: center;
    span{
      margin-left: 10px;
      display: inline-block;
    }
    img{
      width: 4vw;
      height: auto;
    }
  }
  .primary-menu-container{
    position: relative;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    button{
      display: none;
    }
    &>ul{
      display: flex;
      list-style: none;
      margin: 0;
      padding-inline-start: 0;
      align-items: center;
      &>li{
        margin: 0 15px;
        &:last-child{
          width: 60px;
        }
        &:first-child{
          margin-left: 0;
        }
        a{
          color: #000;
          &:hover{
            color: $primaryColor;
          }
        }
      }
    }
    .profile-pic{
      img{
        border-radius: 50%;
        width: 2vw;
        border: 1px solid #000;
        cursor: pointer;
      }
    }
    .lang-button{
      background-color: transparent;
      box-shadow: none;
      color: #000;
    }
  }
}
.doctor-name{
  padding: 20px 0;
  h2{
    color: #fff;
    font-size: 30px;
  }
  span{
    position: relative;
    color: #f0e9a5;
    font-size: 20px;
    display: inline-block;
    margin: 0 10px;
    &:last-child{
      margin-right: 0;
    }
    &:first-child{
      margin-left: 0;
    }
    i{
      position: relative !important;
      transform: unset !important;
      color: #eeac60 !important;
    }
  }
  .star-rating{
    position: relative;
    display: inline-block;
    cursor: pointer;
    .stars-filled{
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      display: flex;
    }
  }
}
.type-of-appointment{
  .tabs{
    margin-bottom: 50px;
    height: 60px;
    background-color: transparent;
    .indicator{
      display: none;
    }
    .tab{
      a{
        background-color: #fff;
        box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
        border: none;
        outline: none;
        padding: 15px 50px;
        border-radius: 5px;
        transition: all 0.5s;
        color: #1582a3;
        display: inline;
        &:hover,&.active{
          background-color: #1582a3;
          color: #fff;
        }
      }
    }
  }
}
.select-wrapper{
  .select-dropdown{
    font-size: 14px !important;
    color: $primaryColor;
  }
  .dropdown-content{
    li{
      span{
        color: $primaryColor;
        font-size: 13px;
      }
    }
  }
}
form{
  .select-dropdown{
    font-size: 14px !important;
    color: $primaryColor;
  }
  .dropdown-content{
    li{
      span{
        color: $primaryColor;
        font-size: 13px;
      }
    }
  }
}
.flatpickr-rContainer, .flatpickr-days, .dayContainer{
  width: 100% !important;
}
.dayContainer{
  min-width: auto !important;
}
.flatpickr-calendar.inline{
  top: 0 !important;
  width: 100%;
}
.flatpickr-calendar.arrowTop:before{
  display: none !important;
}
.flatpickr-weekday{
  color: $primaryColor !important;
}
.review{
  background-color: #fff;
  padding: 40px 20px 30px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 30px;
  &>div{
    position: relative;
    &:first-child{
      margin-bottom: 20px;
    }
    .doctor-name{
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
  i{
    position: absolute;
    font-size: 20px;
    color: #000;
    &:first-child{
      top: 0;
      left: 0;
      transform: translateY(-100%);
    }
    &:last-child{
      bottom: 0;
      right: 0;
      transform: translateY(100%);
    }
  }
}
footer{
  padding: 20px 0;
  ul{
    li{
      color: #fff;
    }
  }
}
@media only screen and (max-width: 767px){
  .mobile-full-width{
    width: 100%;
  }
  .mobile-margin-bottom{
    margin-bottom: 5vw;
  }
  .flatpickr-calendar{
    width: 100% !important;
  }
  .primary-menu-container{
    flex-direction: row-reverse;
    button{
      display: block !important;
      outline: none;
      &:focus{
        background-color: transparent;
      }
    }
    &>ul{
      flex-direction: column;
      position: fixed;
      top: 21px;
      right: 0;
      background-color: #fff;
      align-items: unset !important;
      width: 30vw;
      height: 100vh;
      z-index: 1000;
      padding: 20% 0;
      transition: all 0.5s;
      transform: translateX(100%);
      &.menu-open{
        transform: translateX(0);
      }
      li{
        margin: 0 !important;
        padding: 0 20px
      }
    }
  }
  .type-of-appointment{
    .tabs{
      .tab{
        margin: 0 15px;
      }
    }
  }
}